@import "tailwindcss";

body {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

:root::view-transition-old(main) {
	animation:
		90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
}

:root::view-transition-new(main) {
	animation:
		142ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
}
